*
    box-sizing: border-box
body
    font-family: 'Muli', sans-serif
    color: $text-color
    background-color: $secondary
    
.container
    max-width: 1110px
    margin: auto
.logo
    max-width: 100%
    &-image
        max-width: 100%
.notOverflow 
    overflow: hidden
    padding-right: 17px
button, input, textarea
    outline: none
button
    cursor: pointer
    
.error
    color: $primary
    font-size: 12px
    position: relative
    line-height: 15px
    margin-bottom: 0 !important
    display: block
.subscribe
    #email-error
        position: absolute
        top: 60px
h1, h2, h3
    margin-top: 0
